transformers==4.57.0
accelerate==1.5.2
torchvision==0.21.0
qwen-vl-utils
transformers_stream_generator==0.0.4
tiktoken
einops
sentencepiece==0.2.1
numpy==1.26.4
pandas
pillow
tqdm
mmengine==0.10.7
pyarrow==14.0.1
fastparquet==2024.11.0
av==15.0.0
websockets
msgpack
typing_extensions
google-genai
debugpy
